/OperadorCondicional/nbproject/private/
/OperadorCondicional/build/
/JavaApplication15/nbproject/private/
/IMC/nbproject/private/
/IMC/build/
/CalculadoraDelta/nbproject/private/
/CalculadoraDelta/build/
*.zip
*.rar
/JavaApplication18/nbproject/private/
/VerificaTriangulo/nbproject/private/